@import 'vars.css';

.auth-content {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.form-part {
    position: relative;
    width: 100%;
    padding: 0 15px;
    margin: 15px auto 0;
}

.auth-input {
    outline: none;
    font-size: 18px;
    width: 100%;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: #283340;
    color: var(--colorLight);
    transition: border 0.2s ease-in-out;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.input-error {
    border-top: 2px solid var(--colorDanger);
    border-bottom: 2px solid var(--colorDanger);
}

.auth-input::placeholder {
    color: var(--colorGrey);
}

.errors-popover {
    background-color: var(--colorDark);
    color: var(--colorGrey);
    transition: height 0.2s ease-in-out;
}

.errors-popover::before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.auth-button {
    position: relative;
    outline: none;
    font-size: 18px;
    width: 100%;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--colorLightMain);
    color: var(--colorLight);
}

.auth-button:hover {
    cursor: pointer;
    background-color: var(--colorLightMain);
}

.auth-question {
    margin-top: 30px;
    text-align: center;
    width: 100%;
}