@import 'vars.css';

.modal {
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(28, 39, 51, 0.9);
    overflow-y: scroll;
}

.modal-main {
    color: var(--colorDarkest);
    background-color: var(--colorLight);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin: 100px auto 100px;
    width: 70%;
    max-width: 900px;
    padding: 15px 30px;
}

.modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    font-size: 22px;
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--colorDanger);
}

.modal-title {
    padding: 0 30px;
}

.modal-form .form-part {
    padding: 0;
}

.modal-input, .modal-textarea {
    width: 100%;
    outline: none;
    font-size: 18px;
    padding: 15px 30px;
    border: 2px solid #283340;
    color: #283340;
    transition: all 0.2s ease-in-out;
}

.modal-input:focus,
.modal-textarea:focus {
    background-color: var(--colorDarkSecond);
    color: var(--colorLight);
}

.input-error {
    background-color: var(--colorDarkSecond);
    color: var(--colorLight);
    border-bottom: 2px solid var(--colorDanger);
}

.modal-input::placeholder {
    color: var(--colorGrey);
}

.modal-photo-wrapper {
    width: 100%;
}

.modal-photo-wrapper img {
    width: 100%;
    height: auto;
}

.full-width-btn {
    width: 100%;
    margin: 15px 0;
}