.tabs-titles {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    margin: 30px auto;
}

.tab-title__item {
    align-self: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.tab-title__item > button {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #4BA0EC;
    cursor: pointer;
    padding: 15px 60px;
    transition: all 0.2s ease-in-out;
}

.tab-title__item > button:hover {
    color: #fff;
}

.tab-title__item > button.selected:hover {
    cursor: default;
    color: #4BA0EC;
}

.tab-title__item > button.selected {
    border-bottom: 2px solid #4BA0EC;
}