@import 'vars.css';

.tabs-titles {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    margin: 30px auto;
}

.tab-title__item {
    align-self: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.tab-title__item > button {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: var(--colorLightMain);
    cursor: pointer;
    padding: 15px 60px;
    transition: var(--transition);
}

.tab-title__item > button:hover {
    color: var(--colorLight);
}

.tab-title__item > button.selected:hover {
    cursor: default;
    color: var(--colorLightMain);
}

.tab-title__item > button.selected {
    border-bottom: 2px solid var(--colorLightMain);
}